@font-face {
  font-family: DM sans;
  src: url(fonts/dmsans-regular.ttf);
}

@font-face {
  font-family: DM sans;
  src: url(fonts/dmsans-bold.ttf);
  font-weight: bold;
}

:root {
  --main: #212222;
  --secondary: #FB088C;
}

body{
  font-family: DM sans, Roboto, Open Sans;
  color: var(--main);
  margin: 0;
}

h2 {
  font-size: 217px;
  margin: 5px;
}

h3 {
  font-size: 90px;
  margin: 0 0 20px 0;
}

h4 {
  margin: 0;
  font-size: 35px;
}

p {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  margin: 0;
  padding: 40px 90px 0px 90px;
}

.margin_b { margin-bottom: 190px; }


/* Header --------------------------------------------------------------- */
header {
  position: relative;
  height: 50px;
  z-index: 999;
}

  header nav, header img[alt="logo"]{
    position: absolute;
    top: 50%;
    -ms-transform: translate(-0%, -50%);
    transform: translate(-0%, -50%);
  }

nav { right: 0; }

  ul { padding: 0; }

    li { display: inline; }
    li:not(:first-child) { margin-left: 50px; }

a:hover {
  color: var(--secondary);
}

/* Title --------------------------------------------------------------- */
#title {
  position: relative;
}

  #title img {
    position: absolute;
    right: 0.8em;
    top: 0;
    z-index: 1;
  }

.title_left {
  padding-left: 0.4em;
}

.title-right {
  padding-right: 1.2em;
  text-align: right;
  position: relative;
  z-index: 2;  
}


/* Floating sentence ---------------------------------------------------------- */
#under_title {
  position: relative;
  height: auto;
}

#floating_sentence {
  width: 70%;
  margin-left: 30%;
}

.little_circle {
  background-color: var(--secondary);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin: 12px 0 0 0;
  position: absolute;
}

#floating_sentence li {
  font-size: 32px;
}


/* Shop ---------------------------------------------------------------*/
.line {
  width: 100%;
  height: 1px;
  opacity: 0.5;
  background-color: var(--main);
}

.rectangle_pink {
  background-color: var(--secondary);
  width: 50px;
  height: 14px;
  margin-right: 12px;
  display: inline-block;
  cursor: pointer;
}

.rectangle_black {
  background-color: var(--main);
  width: 50px;
  height: 14px;
  margin-right: 12px;
  display: inline-block;
  cursor: pointer;
}

button {
  float: right;
  margin: 0;
  padding: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

  button >* {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
  }

  button:hover {
    font-weight: bold;
  }

  button:hover img {
    width: 40px;
  }

  button p {
    font-size: 20px;
    margin-right: 16px;
  }

img[alt="camiseta"] {
  -webkit-transform: scaleX(-1) rotate(350deg);
  transform: scaleX(-1) rotate(350deg);
}

.mitad {
  width: 50%;
  height: 500px;
  position: relative;
}

  .mitad img:first-child{
    position: absolute;
    top: 0;
    right: 30px;
  }

.info {
  width: 100%;
  position: absolute;
  top: 50%;
  -ms-transform: translate(-0%, -50%);
  transform: translate(-0%, -50%);
}

.text {
  width: 50%;
  margin-bottom: 45px;
}

.caracteristics {
  margin-bottom: 30px;;
}

#card_bottle {
  left: 50%;
}


/* Contact --------------------------------------------------------------- */
.contact {
  position: fixed;
  bottom: 6em;
  right: 33px;
}

.line_contact {
  height: 44px;
  width: 2px;
  background-color: var(--secondary);
  margin: auto;
  margin-bottom: 16px;
}

.contact a {
  vertical-align: sub;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 24px;
}

  /* Text change depending on background */
 .contact {mix-blend-mode: difference; }



/* Footer ---------------------------------------------------------------*/
footer {
  background-color: var(--main);
  color: white !important;
  margin: 0;
  padding: 90px;
  display: flex;
}

#footer_left {
  width: 30%;
  display: inline-block;
}

  #footer_left >* {
    font-size: 25px;
  }

#footer_right {
  width: 70%;
  display: inline-block;
}

footer button input{
  color: white;
}

footer button img {
  filter: invert(1);
}

#letter_sign {
  margin-top: 100px;
}

  /* Email input */
  input[type="email"] {
    width: 100%;
    margin-bottom: 15px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    font-size: 20px;
    line-height: 3;
    color: white;
  }

    input[type="email"]:focus{
      border: none;
      outline: none;
      border-bottom: 1px solid var(--secondary);
    }
  
  /* Checkbox input */
  form div { display: flex; }

  label { font-size: 15px; display: block;}
  label a { text-decoration: underline !important; }  

  /* Checkbox box re-styling */
  input[type="checkbox"] {
    appearance: none;
    position: relative;
    border: 1px solid #ffff;
    width: 17px;
    height: 17px;
    margin: 0 12px 0 0;
  }

    input[type="checkbox"]:hover { border-color:  var(--secondary); }

    input[type="checkbox"]:checked {
      background-color: var(--secondary);
      border: none;
    }

      input[type="checkbox"]:checked::after {
        content: '\2714';
        font-size: 14px;
        position: absolute;
        top: -1px;
        left: 2px;
        color: #ffff;
      }  
  
  /* Submit re-styling */
  input[type="submit"], form img {
    background-color: transparent;
    border: none;
    font-size: 20px;
  }

  input[type="submit"] {
    margin-right: 12px;
  }


/* Media queries -------------------------------------------------------*/
@media only screen and (max-width: 600px) {
    
  body { margin: 0; }

  .container { 
    padding: 15px;
    overflow: hidden;
  }

  .contact { display: none; }

  h2 { font-size: 118px; }
  h3 { font-size: 50px; margin: 0;}
  h4 { font-size: 24px;}

  header img[alt="logo"] { width: 149px;}

  #title img {
    left: 4em;
    top: 6em;
    width: 350px;
  }

  .title-right { right: 1.02em;}
  .title_left { padding-left: 0.5em;}

  #floating_sentence {
    width: 100%;
    margin-left: 0;
  }

    #floating_sentence li {
      font-size: 24px;
    }

  .mitad { width: 100%; height: 360px;}

    img[alt="camiseta"] {left: 6em;}
    .mitad img:first-child { height: 360px;}

  .text { margin-bottom: 15px; width: 60%;}  
    .text p { font-size: 14px; }

  .rectangle_black, .rectangle_pink { width: 31px;}

  .caracteristics { margin-top: 30px; margin-bottom: 10px; }

  button { 
    float: none;
    display: block;
    margin-top: 3em;
  }

    button p { font-size: 18px;}

  #card_bottle { left: 0; margin-top: 100px;}

  footer {
    display: flex;
    flex-direction: column-reverse;
    padding: 50px 14px;
  }

  #footer_left, #footer_right {
    width: 100%;
    display: block;
  }

    #footer_left a, #footer_left p { font-size: 18px;}

  #letter_sign {
    margin-top: 50px;
    margin-bottom: 80px;
  }
}

@media only screen and (min-width: 600px) {
  .sticky {
    position: fixed;
    top: 0;
    width: calc(100% - 180px);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,.97) 100%);
  }  
}


/* Responsive toggle nav --------------------------------------------------*/
.burguer_menu { 
  display: none;
  position: absolute; 
  top: 20px;
  right: 0;
}

@media screen and (max-width: 600px) {

  .main_nav a { display: none;}

  .burguer_menu {
    display: block !important;
  }
}

@media screen and (max-width: 600px) {

  .horizontal_nav .burguer_menu { top: -7px;}

  .horizontal_nav ul { 
    position: absolute;
    width: 55px;
    top: 10px;
    right: 0;
    color: white;
    background-color: var(--main);
    border-radius: 5px;
    padding: 35px 50px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.42); 
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.42);
  }
  
  .horizontal_nav ul li a {
    display: block  !important;
  }
}
